* {
  font-family: 'Quicksand', sans-serif;

}

body {
  background: rgb(19, 77, 113);
  background: linear-gradient(180deg, rgba(19, 77, 113, 1) 0%, rgba(120, 167, 198, 1) 35%, rgba(247, 228, 191, 1) 100%);
  background-attachment: fixed;
}

.body-mantra {
  background: rgb(36, 19, 113);
  background: linear-gradient(45deg, rgba(36, 19, 113, 1) 0%, rgba(166, 120, 198, 1) 35%, rgba(247, 191, 229, 1) 100%);
  background-attachment: fixed;
}

.body-affirmation {
  background: rgb(245, 179, 72);
  background: linear-gradient(135deg, rgba(245, 179, 72, 1) 0%, rgba(40, 194, 227, 1) 50%, rgba(8, 223, 232, 1) 100%);
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  margin-bottom: 100px;
  font-size: 40px;
}

.button-section {
  height: 125px;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  color: black;
  border: 0;
  border-radius: 15px;
  margin-bottom: 100px;
}

.button-section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 40%;
}

button {
  padding: 5px 50px;
  border-radius: 5px;
  color: white;
  background-color: #134d71;
  border: none;
  font-size: 20px;
  transition-duration: 500ms;
}

button:hover {
  transform: scale(1.05);
  background-color: white;
  color: #134d71;
  border: 1px solid #134d71;
}

label {
  margin: 10px 20px;
  font-size: 22px;
  font-style: italic;
}

#affirmation,
#mantra {
  margin: 10px 10px;
  transform: scale(1.5);
}

div {
  padding: 0;
}

.display-window {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  height: 175px;
  width: 70%;
  color: black;
  font-size: 30px;
}

p {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.meditation-svg {
  height: 100px;
  width: auto;
  animation: fadeIn 3s;
}

.meditation-animation {
  animation: loading 6s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  16% {
    transform: scale(1.1);
  }
  33% {
    transform: scale(1.2);
  }
  49% {
    transform: scale(1.3);
  }
  67% {
    transform: scale(1.2);
  }
  83% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.clear {
  margin-top: 15px;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 30%;
  pointer-events: none;
}

@media (max-width: 1320px) {
  .button {
    font-size: 15px;
    padding: 5px 40px;
  }

  h1 {
    margin-bottom: 50px;
  }

  .display-window {
    font-size: 25px;
  }

  button:hover {
    transform: scale(1.05);
    background-color: white;
    color: #134d71;
    border: 1px solid #134d71;
  }
}

@media (max-width: 1023px) {
  .button-section {
    height: 25%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    margin-bottom: 90px;
  }

  .receive-message {
    font-size: 12px;
    padding: 5px 20px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .button-section {
    margin-bottom: 50px;
  }

  .display-window {
    font-size: 20px;
  }

  button:hover {
    transform: scale(1.05);
    background-color: white;
    color: #134d71;
    border: 1px solid #134d71;
  }
}

@media (max-width: 767px) {
  h1 {
    margin-bottom: 25px;
    font-size: 30px;
  }

  .button-section {
    margin-bottom: 20px;
  }

  .receive-message {
    font-size: 10px;
    padding: 5px 25px;
  }

  .display-window {
    font-size: 15px;
  }

  button:hover {
    transform: scale(1.05);
    background-color: white;
    color: #134d71;
    border: 1px solid #134d71;
  }
}